# Data handling
data.db
data/
crunched/

# Python folders
venv/
__pycache__/

# LaTeX temp files
*.aux
*.log
*.out
*.tex
*.log
*.pdf
*.bbl
*.blg

# Nim compiled executables
*
!*.*
!*/

# Nim temp files
nimcache

